@model BankSystem.Models.Cards

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Cards</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CardName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CardName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEnd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEnd)
        </dd>
    </dl>
</div>
<div>
    <a  class="btn btn-primary " asp-action="Edit" asp-route-id="@Model?.CardsID">Edytuj</a> |
    <a  class="btn btn-primary " asp-action="Index">Powrót</a>
</div>
