@model IEnumerable<BankSystem.Models.Account>

@{
    ViewData["Title"] = "Index";
}

<h1>Twoje Konto</h1>

<p>
    <a class="btn btn-primary pt-2"  asp-action="Create">Dodaj Konto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AccountNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Value)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currency)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AccountNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency.CurrencyName)
            </td>
            <td>
                <a  class="btn btn-primary " asp-action="Index" asp-controller= "Transactions" asp-route-id="@item.AccountID">Przelewy</a> |
                <a  class="btn btn-primary " asp-action="Details" asp-route-id="@item.AccountID">Szczegóły</a> |
                <a  class="btn btn-primary " asp-action="Delete" asp-route-id="@item.AccountID">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
