@model IEnumerable<BankSystem.Models.CurrencyModel>

@{
    ViewData["Title"] = "CurrencyView";
}
    <h1> <center>Witaj,</center> 
   <center>oto aktualne kursy walut</center> </h1>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NameExchanges)

            </th>
            <th>
                @Html.DisplayNameFor(model => model.Buy)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Sell)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NameExchanges)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Buy)
            </td>
             <td>
                @Html.DisplayFor(modelItem => item.Sell)
            </td>

        </tr>
    }
    <tbody>
    </tbody>
</table>